<input type="file" (change)="selectFile($event.target.files[0])">
<image-cropper ratio="903x903" quality="80" [dataURI]="dataUri" (onCrop)="onCrop($event)" #crop></image-cropper>

<img [src]="crop.result?.base64" height="300" style="margin-top: 20px;">

<!-- <h1>
  Welcome to my Test App!
</h1>

<button (click)="setLanguage('en')">English</button>
<button (click)="setLanguage('de')">Deutsch</button>

<h1>Language: {{'native' | tr}}</h1>
<h1>Language code: {{tr.locale}}</h1>
<h1>Language direction: {{tr.dir}}</h1> -->